{{#partial "content"}}
    {{#if endangeredAnimals}}
        {{#each endangeredAnimals}}
            <div>
                <h2>ID: {{id}}</h2>
                <h2>Name: {{name}}</h2>
                <p>Health: {{health}}</p>
                <p>Age: {{age}}</p>
            </div>
        {{/each}}
    {{/if}}
{{/partial}}
{{> layout.hbs}}